<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/listings">
        <input type="text" placeholder="enter the title" name="title">
        <br>
        <br>
        <textarea placeholder="enter the description" name="description"></textarea>
        <br>
        <br>
        <input type="number" placeholder="enter the price" name="price">
        <br>
        <br>
        <input type="text" placeholder="enter the location" name="location">
        <br>
        <br>
        <input type="text" placeholder="enter the country" name="country">
        <br>
        <br>
        <button>Create Listing</button>



    </form>
    
</body>
</html>